/* App-wide styles */
.app-container {
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(26, 26, 26) 0%, rgb(0, 0, 0) 60%), url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;


  background-image: url('./assets/bg.jpg');  
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6); 
  background-blend-mode: darken; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

