/* Footer.css */
.footer-container {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 70px;
  color: #ffffff;
}

.footer-text {
  font-size: 1.2rem;
  color: #00ff00;
}

.footer-credits {
  font-size: 0.9rem;
  color: #cccccc;
}