.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .hero-section {
    z-index: 1;
  }
  
  .main-title {
    font-size: 5rem;  
    font-weight: bold;
    color: #d3d3d3;  
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #b0bec5;  
    letter-spacing: 1px;
    margin: 10px 0;
  }
  
  .description {
    font-size: 1.2rem;
    color: #9e9e9e;
    font-style: italic;
    margin-top: 10px;
  }

  .hero-section {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);  /* Transparent background for text */
    padding: 20px;
    border-radius: 10px;
  }
  
  .main-title {
    font-size: 5rem;
    font-weight: bold;
    color: #00d8ff;
  }
  
  .subtitle {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  .description {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-style: italic;
    color: #cccccc;
  }