  /* Navbar styling */
.navbar-container {
    position: fixed;
    bottom: 30px;  
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 15px 30px;
    border-radius: 15px;
    z-index: 1000;
  }
  
  .nav-item {
    color: #ffffff;
    margin: 0 15px;
  }
  
  .nav-item:hover {
    color: #00d8ff;  
  }